#####  For Loop

In [1]:
nums = [1,2,3,4,5,11,12,13,14,15] #input

square_list = []

for element in nums:
    square_value = element*element
    square_list.append(square_value)
    print("element = ", element, "square_value = ", square_value, square_list)

print(square_list)
    
print(type(square_list))

element =  1 square_value =  1 [1]
element =  2 square_value =  4 [1, 4]
element =  3 square_value =  9 [1, 4, 9]
element =  4 square_value =  16 [1, 4, 9, 16]
element =  5 square_value =  25 [1, 4, 9, 16, 25]
element =  11 square_value =  121 [1, 4, 9, 16, 25, 121]
element =  12 square_value =  144 [1, 4, 9, 16, 25, 121, 144]
element =  13 square_value =  169 [1, 4, 9, 16, 25, 121, 144, 169]
element =  14 square_value =  196 [1, 4, 9, 16, 25, 121, 144, 169, 196]
element =  15 square_value =  225 [1, 4, 9, 16, 25, 121, 144, 169, 196, 225]
[1, 4, 9, 16, 25, 121, 144, 169, 196, 225]
<class 'list'>

#### Writing Functions

In [3]:
def multiply_numbers(a, b):
    
    total_sum = a*b
    
    return total_sum
multiply_numbers(1,2)

2

In [4]:
multiply_numbers(100,250)

25000

In [5]:
multiply_numbers(1.2,2.3)

2.76

In [6]:
def square_elements(input_list):
    
    square_list = []

    for element in input_list:
        square_value = element*element
        square_list.append(square_value)
        print("element = ", element, "square_value = ", square_value, square_list)
        
    return square_list

In [7]:
square_elements([1,2,3,4,5])

element =  1 square_value =  1 [1]
element =  2 square_value =  4 [1, 4]
element =  3 square_value =  9 [1, 4, 9]
element =  4 square_value =  16 [1, 4, 9, 16]
element =  5 square_value =  25 [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [8]:
square_elements([-1,2,4,0,100])

element =  -1 square_value =  1 [1]
element =  2 square_value =  4 [1, 4]
element =  4 square_value =  16 [1, 4, 16]
element =  0 square_value =  0 [1, 4, 16, 0]
element =  100 square_value =  10000 [1, 4, 16, 0, 10000]

[1, 4, 16, 0, 10000]

### Even or odd

In [9]:
for i in range(0,10):
    if i%2 == 0:
        print(i, "even = True")
    else:
        print(i, "even = False")

0 even = True
1 even = False
2 even = True
3 even = False
4 even = True
5 even = False
6 even = True
7 even = False
8 even = True
9 even = False

#### Example of while condition

In [10]:
count = 0
while count < 3:   
    print(count)
    count = count + 1
    print("Hello Geek")

0
Hello Geek
1
Hello Geek
2
Hello Geek

#### example: if-else

In [11]:
for i in range(0,10,1):
    
    # 0,2,4,6,8
    if i%2 == 0:
        print(i, "divisible by 2")
    else:
        print(i, "not divisible 2")
        
    # 3,6,9
    if i%3 == 0:
        print(i, "divisible by 3")
    else:
        print(i, "not divisible 3")
        
    # 4, 8
    if i%4 == 0:
        print(i, "divisible by 4")
    else:
        print(i, "not divisible 4")
        
    if i%2 == 0 and i%4 == 0:
        print(i, "divisible by 2 and 4")
    else:
        print(i, "not divisible 2 and 4")

0 divisible by 2
0 divisible by 3
0 divisible by 4
0 divisible by 2 and 4
1 not divisible 2
1 not divisible 3
1 not divisible 4
1 not divisible 2 and 4
2 divisible by 2
2 not divisible 3
2 not divisible 4
2 not divisible 2 and 4
3 not divisible 2
3 divisible by 3
3 not divisible 4
3 not divisible 2 and 4
4 divisible by 2
4 not divisible 3
4 divisible by 4
4 divisible by 2 and 4
5 not divisible 2
5 not divisible 3
5 not divisible 4
5 not divisible 2 and 4
6 divisible by 2
6 divisible by 3
6 not divisible 4
6 not divisible 2 and 4
7 not divisible 2
7 not divisible 3
7 not divisible 4
7 not divisible 2 and 4
8 divisible by 2
8 not divisible 3
8 divisible by 4
8 divisible by 2 and 4
9 not divisible 2
9 divisible by 3
9 not divisible 4
9 not divisible 2 and 4

#### Example of cumulative sum using for loop

In [12]:
nums = [1,2,3,4,5]
sum_list = []

for i in range(len(nums)):
    print("i = ", i,  "i+1 = ", i+1, "num = ", nums[:i+1], "sum = ", sum(nums[:i+1]))
    
    sum_list.append(sum(nums[:i+1]))

print(sum_list)

i =  0 i+1 =  1 num =  [1] sum =  1
i =  1 i+1 =  2 num =  [1, 2] sum =  3
i =  2 i+1 =  3 num =  [1, 2, 3] sum =  6
i =  3 i+1 =  4 num =  [1, 2, 3, 4] sum =  10
i =  4 i+1 =  5 num =  [1, 2, 3, 4, 5] sum =  15
[1, 3, 6, 10, 15]