### List Slicing

In [14]:
name = ["abul", "babul", "cabul", "dabul"]
contact = [1111, 2222, 3333, 4444]

phone_contacts = [name, contact]
print(phone_contacts)

print(phone_contacts[0])
print(phone_contacts[1])
print(phone_contacts[0][0])
print(phone_contacts[1][0])

[['abul', 'babul', 'cabul', 'dabul'], [1111, 2222, 3333, 4444]]
['abul', 'babul', 'cabul', 'dabul']
[1111, 2222, 3333, 4444]
abul
1111

#### Checking length of a string

In [15]:
print(len(phone_contacts))
print(len(phone_contacts[0]))
print(len(phone_contacts[1]))
print(len(phone_contacts[0][1]))

2
4
4
5

#### Checking the presence of an element in a list

In [16]:
"abul" not in phone_contacts

True

#### Insert a new element in the list

In [17]:
even = [2, 4, 6, 8, 10]
even.insert(2, 0)
print(even)

[2, 4, 0, 6, 8, 10]

In [18]:
even.append(12)

print(even)

[2, 4, 0, 6, 8, 10, 12]

#### How to reverse a list?

In [19]:
nums = [0,-1,-1,3,9,-9,4,8,7]
nums.reverse()
print(nums)

[7, 8, 4, -9, 9, 3, -1, -1, 0]

#### How to count the frequency of a specific element in a list?

In [20]:
print(nums.count(-1))

2

#### How to remove an element from a list?

In [21]:
nums.remove(9)
print(nums)

[7, 8, 4, -9, 3, -1, -1, 0]

#### How to find the minimum value, maximum value and total sum of a list?

In [22]:
print("maximum value = ", max(nums))
print("minimum value = ", min(nums))
print("total sum = ", sum(nums))

maximum value =  8
minimum value =  -9
total sum =  11

#### What will happen if you add two lists?

In [23]:
A = [9, 8, 7, 6]
B = [99, 88, 77, 66]
print("A + B = ", A + B) #will contain all the element of A and B

A + B =  [9, 8, 7, 6, 99, 88, 77, 66]

#### How to sort a list?

In [26]:
print(sorted(A, reverse=True))
print(sorted(A, reverse= False))

[9, 8, 7, 6]
[6, 7, 8, 9]

### Tuple

In [27]:
a = ('the', 'fault', 'in', 'our', 'stars')
print(type(a))

<class 'tuple'>

#### Tuple slicing

In [28]:
print(a[0])
print(a[-1])
print(a[1:3])

the
stars
('fault', 'in')

#### Immutability

In [30]:
T = (8, 9, 'absolute', [1, 2])
# T[0] = 2 #will throw an error
T[0] = 2

TypeError: 'tuple' object does not support item assignment

#### You cannot change any value inside a tuple and you cannot insert or delete as well

#some functions that can be used with tuple
Z = (2, 7, 1)
print(len(Z))
print(max(Z))
print(min(Z))
print(sum(Z))
print(Z.count(2))

#### Set
It works with a curly brace--> {} <br>
One item can appear only once<br>
You cannot slice item from set, unlike lists or tuples

In [33]:
A = {12, 13, 14, 12}
print(A) 
print(type(A))
print(len(A))

# convert to list
A_converted = list(A)
print(A_converted)

A = {1, 3, 5, 7, 9}
B = {1, 2, 4, 7, 9}

print(A.union(B))
print(A.intersection(B))
print(A.difference(B))

{12, 13, 14}
<class 'set'>
3
[12, 13, 14]
{1, 2, 3, 4, 5, 7, 9}
{1, 9, 7}
{3, 5}

### Dictionary

In [34]:
phone_contacts = {"abul":1111, "babul":2222, "cabul":3333, "dabul":4444}

print(phone_contacts)
print(phone_contacts["abul"])
print(phone_contacts["babul"])
print(phone_contacts["cabul"])
print(phone_contacts["dabul"])

print(phone_contacts.keys())
print(phone_contacts.values())
# print(phone_contacts.items())

{'abul': 1111, 'babul': 2222, 'cabul': 3333, 'dabul': 4444}
1111
2222
3333
4444
dict_keys(['abul', 'babul', 'cabul', 'dabul'])
dict_values([1111, 2222, 3333, 4444])

In [37]:
# adding a new phone number of the existing contact
phone_contacts["dabul"] = [4444,5555]
print(phone_contacts)

{'abul': 1111, 'babul': 2222, 'cabul': 3333, 'dabul': [4444, 5555]}

In [38]:
# adding a new contact
phone_contacts["fabul"] = 6666
print(phone_contacts)

{'abul': 1111, 'babul': 2222, 'cabul': 3333, 'dabul': [4444, 5555], 'fabul': 6666}

In [39]:
# updating a dictionary
new_dict = {"gabul":7777}
phone_contacts.update(new_dict)
print(phone_contacts)

{'abul': 1111, 'babul': 2222, 'cabul': 3333, 'dabul': [4444, 5555], 'fabul': 6666, 'gabul': 7777}